@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:ital,wght@0,400..900;1,400..900&display=swap");
html {
  /* font */
  --font-sans: "Inter", "Manrope", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  letter-spacing: -0.3px;
  /* dark */
  --brand-dark: var(--orange-3);
  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-5);
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-10);
  --surface-4-dark: var(--gray-9);
  --background-dark: var(--gradient-8);
  --border-dark: var(--gray-9);
  /* light */
  --brand-light: var(--orange-10);
  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
  --background-light: none;
  --border-light: var(--gray-4);
  overflow-x: hidden;
  color: #030025;
}

::-moz-selection {
  background: #ffdd00;
}

::selection {
  background: #ffdd00;
}

::-webkit-scrollbar {
  width: 0 !important;
}

::-webkit-scrollbar-track {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  width: 1px;
  background: black;
}

:root {
  color-scheme: dark;
  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --background: var(--background-dark);
  --border: var(--border-dark);
  --color-design: #F959FF;
  --color-game: #6355FF;
  --color-blog: #FF2E65;
  --color-comic: #FF7559;
  --color-app: #0C75ED;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --brand: var(--brand-light);
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);
    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);
    --background: var(--background-light);
    --border: var(--border-light);
  }
}
[color-scheme=dark] {
  color-scheme: dark;
  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --background: var(--background-dark);
  --border: var(--border-dark);
}

[color-scheme=light] {
  color-scheme: light;
  --brand: var(--brand-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --background: var(--background-light);
  --border: var(--border-light);
}

html,
body {
  height: 100%;
}

html {
  color: var(--text-1);
  accent-color: var(--link);
  background-image: white;
  background-attachment: fixed;
}

img {
  border-radius: 12px;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

li {
  padding-inline-start: 0;
}

.surface-1 {
  background-color: var(--surface-1);
  color: var(--text-2);
}

.surface-2 {
  background-color: var(--surface-2);
  color: var(--text-2);
}

.surface-3 {
  background-color: var(--surface-3);
  color: var(--text-1);
}

.surface-4 {
  background-color: var(--surface-4);
  color: var(--text-1);
}

.placeholder {
  height: 200px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 72px 0;
}
#header #logo {
  height: 60px;
  border-radius: 0;
  border: none;
}

button {
  background: #030025;
  color: white;
  border: 1px solid #030025;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.2px;
  letter-spacing: 0px;
  text-shadow: none;
  border-radius: 16px;
  padding: 9px 24px 10px 24px;
  box-shadow: 0 5px 25px rgba(3, 0, 37, 0.5), inset -1px 2px 4px rgba(255, 255, 255, 0.3);
  transition: 0.2s ease;
}
button:hover {
  background: #030025;
  transform: translateY(1px);
  opacity: 0.85;
  box-shadow: 0 5px 23px rgba(3, 0, 37, 0.5), inset -1px 2px 4px rgba(255, 255, 255, 0.3);
}

.prose h1 {
  font-family: "DM Serif Display", "Inter", sans-serif;
  letter-spacing: 0px;
  font-size: 32px;
  font-weight: 800;
  margin: 48px 0 24px 0;
  padding-bottom: 4px;
  width: 100%;
  max-inline-size: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}
.prose h2 {
  font-family: "DM Serif Display", "Inter", sans-serif;
  letter-spacing: 0px;
  font-size: 24px;
  font-weight: 800;
  margin: 40px 0 16px 0;
}
.prose h3 {
  font-size: 20px;
  margin: 16px 0;
}
.prose h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 16px 0;
}
.prose p {
  font-size: 15px;
  font-weight: 400;
  margin: 16px auto;
  padding: 0;
  max-inline-size: 100%;
}
.prose .shiki {
  padding: 12px 24px 16px 16px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  margin: 18px 0;
}
.prose code {
  font-size: 12px;
}
.prose blockquote {
  margin: 24px 0;
  padding: 0 18px;
  width: 100%;
  border-left: 3px solid rgba(0, 0, 0, 0.2);
  background: white;
}
.prose blockquote p {
  margin: 0;
  width: 100%;
}
.prose img {
  border-radius: 6px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: 0.2s ease;
}
.prose img::after {
  content: "#";
  background: rgba(0, 0, 0, 0.9);
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.prose img:hover {
  opacity: 0.98;
}
.prose iframe {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16/9;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 40px auto;
}
.prose table {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border-radius: 8px;
}
.prose table th {
  font-family: "DM Serif Display", "Inter", sans-serif;
  font-size: 22px;
  letter-spacing: 0px;
}
.prose table tr td {
  flex: 1;
  border: 4px solid white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  transition: 0.2s ease;
}
.prose table :where(table thead tr:first-child th:first-child) {
  border-start-start-radius: 6px;
}
.prose table :where(table thead tr:first-child th:last-child) {
  border-start-end-radius: 6px;
}
.prose table :where(table:not(:has(tfoot)) tr:last-child td:first-child) {
  border-end-start-radius: 6px;
}
.prose table :where(table:not(:has(tfoot)) tr:last-child td:last-child) {
  border-end-end-radius: 6px;
}
.prose.prose-text {
  pointer-events: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
.prose.prose-text h1 {
  font-size: 18px;
  margin: 8px 0;
}
.prose.prose-text h2 {
  font-size: 16px;
  margin: 8px 0;
}
.prose.prose-text h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 8px 0;
}
.prose.prose-text h4 {
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0;
}
.prose.prose-text p {
  font-size: 13px;
  line-height: 140%;
  margin: 8px 0;
}
.prose.prose-image {
  pointer-events: none;
}
.prose.prose-image .grid {
  -moz-column-gap: 1% !important;
       column-gap: 1% !important;
  row-gap: 0% !important;
  margin: 0 !important;
}
.prose.prose-image .gallery .elem {
  margin: 0;
}
.prose.prose-image h1, .prose.prose-image h2, .prose.prose-image h3, .prose.prose-image h4 {
  display: none;
}
.prose.prose-image p {
  display: none;
}

/*
.prose :is(h2, h3, h4, h5, h6) {
	margin-top: var(--size-8);
	margin-bottom: var(--size-3);
	width: 100%;
}

.prose :is(ul, ol) {
	list-style-type: '🔥';
	padding-left: var(--size-5);
	width: 100%;
}

.prose :is(ul, ol) li {
	margin-block: var(--size-2);
	padding-inline-start: var(--size-2);
	width: 100%;
}

.prose pre {
	max-inline-size: 100%;
	padding: var(--size-3);
	border-radius: 8px;
	tab-size: 2;
	width: 100%;
}

*//*# sourceMappingURL=app.css.map */