@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
html {
  /* font */
  --font-sans: "Inter", "Manrope", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  letter-spacing: -0.3px;
  /* dark */
  --brand-dark: var(--orange-3);
  --text-1-dark: var(--gray-3);
  --text-2-dark: var(--gray-5);
  --surface-1-dark: var(--gray-12);
  --surface-2-dark: var(--gray-11);
  --surface-3-dark: var(--gray-10);
  --surface-4-dark: var(--gray-9);
  --background-dark: var(--gradient-8);
  --border-dark: var(--gray-9);
  /* light */
  --brand-light: var(--orange-10);
  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
  --background-light: none;
  --border-light: var(--gray-4);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0 !important;
}

::-webkit-scrollbar-track {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: black;
}

:root {
  color-scheme: dark;
  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --background: var(--background-dark);
  --border: var(--border-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --brand: var(--brand-light);
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);
    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);
    --background: var(--background-light);
    --border: var(--border-light);
  }
}
[color-scheme=dark] {
  color-scheme: dark;
  --brand: var(--brand-dark);
  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --background: var(--background-dark);
  --border: var(--border-dark);
}

[color-scheme=light] {
  color-scheme: light;
  --brand: var(--brand-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --background: var(--background-light);
  --border: var(--border-light);
}

html,
body {
  height: 100%;
}

html {
  color: var(--text-1);
  accent-color: var(--link);
  background-image: white;
  background-attachment: fixed;
}

img {
  border-radius: 12px;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

li {
  padding-inline-start: 0;
}

.surface-1 {
  background-color: var(--surface-1);
  color: var(--text-2);
}

.surface-2 {
  background-color: var(--surface-2);
  color: var(--text-2);
}

.surface-3 {
  background-color: var(--surface-3);
  color: var(--text-1);
}

.surface-4 {
  background-color: var(--surface-4);
  color: var(--text-1);
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 72px 0;
}
#header #logo {
  height: 60px;
  border-radius: 0;
  border: none;
}

.prose h3 {
  font-size: 32px;
  margin: 16px 0;
}
.prose h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0;
}
.prose p {
  font-size: 15px;
  font-weight: 300;
  margin: 16px auto;
  padding: 0;
  width: 900px;
  max-inline-size: 100%;
}
.prose blockquote {
  margin: 24px 0;
  padding: 0 18px;
  width: 100%;
}
.prose blockquote p {
  margin: 0;
  width: 100%;
}
.prose img {
  border-radius: 6px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: 0.2s ease;
}
.prose img::after {
  content: "#";
  background: rgba(0, 0, 0, 0.9);
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.prose img:hover {
  opacity: 0.98;
}
.prose iframe {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16/9;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 40px auto;
}
.prose.prose-text {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}
.prose.prose-text h1 {
  font-size: 18px;
  margin: 8px 0;
}
.prose.prose-text h2 {
  font-size: 16px;
  margin: 8px 0;
}
.prose.prose-text h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 8px 0;
}
.prose.prose-text h4 {
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0;
}
.prose.prose-text p {
  font-size: 13px;
  line-height: 140%;
  margin: 8px 0;
}
.prose.prose-image .gallery .elem {
  margin: 0;
}
.prose.prose-image p {
  display: none;
}

/*
.prose :is(h2, h3, h4, h5, h6) {
	margin-top: var(--size-8);
	margin-bottom: var(--size-3);
	width: 100%;
}

.prose :is(ul, ol) {
	list-style-type: '🔥';
	padding-left: var(--size-5);
	width: 100%;
}

.prose :is(ul, ol) li {
	margin-block: var(--size-2);
	padding-inline-start: var(--size-2);
	width: 100%;
}

.prose pre {
	max-inline-size: 100%;
	padding: var(--size-3);
	border-radius: 8px;
	tab-size: 2;
	width: 100%;
}

*//*# sourceMappingURL=app.css.map */